[project]
	description = After working for couple of months on arduino-thermocycler, we turned to Raspberry Pi to have more powerful machine and easier development in Java.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dejan Pekter (deximat)
[access "refs/for/refs/*"]
	read = group user/Dejan Pekter (deximat)
	push = group user/Dejan Pekter (deximat)
	label-Code-Review = -2..+2 group user/Dejan Pekter (deximat)
	label-Verified = -1..+1 group user/Dejan Pekter (deximat)
	rebase = group user/Dejan Pekter (deximat)
	removeReviewer = group user/Dejan Pekter (deximat)
	submit = group user/Dejan Pekter (deximat)
[access "refs/heads/*"]
	read = group user/Dejan Pekter (deximat)
	create = group user/Dejan Pekter (deximat)
	push = +force group user/Dejan Pekter (deximat)
	pushMerge = group user/Dejan Pekter (deximat)
[access "refs/tags/*"]
	push = +force group user/Dejan Pekter (deximat)
	pushTag = group user/Dejan Pekter (deximat)
	pushSignedTag = group user/Dejan Pekter (deximat)
